* {
  margin: 0;
  box-sizing: border-box;
}

/* size */
:root {
  --size-width-M: 71px;
  --size-sidebar-collapsed: 51px;
  --size-sidebar-expanded: 226px;

  --size-font-heading: 24px;
  --size-font-title: 20px;
  --size-font-title2: 15px;
  --size-font-common: 13px;
  --size-font-heading: 24px;
  --size-font-hint: 11px;
  --size-gutter: 24px;
  --size-column: 84px;
  --size-header: 48px;
  --size-sidebar: 252px;

  --z-index-low: 0;
  --z-index-mid: 1000;
  --z-index-high: 2000;
  --z-index-veryhight: 3001;
}

.mid-z-index {
  --z-index-mid: 3001 !important;
}

/* color */
:root {
  --color-common: #000000;
  --color-label-bodycontent: #454545;
  --color-hint: #bbbbbb;
}

/* variables-text */
/* font on the website */
@font-face {
  font-family: "GoogleRegular";
  src: url(../../font/GoogleSans-Regular.otf);
}

@font-face {
  font-family: "GoogleMedium";
  src: url(../../font/GoogleSans-Medium.otf);
}

@font-face {
  font-family: "GoogleBold";
  src: url(../../font/GoogleSans-Bold.otf);
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: var(--z-index-mid);
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

.dropdown__row--selected {
  background-color: #019160 !important;
  color: white !important;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.notValidControl {
  border: 1px solid red !important;
}

/* loader css */
#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.7;
  background-color: #fff;
  z-index: 19999;
  text-align: center;
}

#loading-image {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 200000;
}

.hide {
  display: none;
}

/* style thanh scroll */
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #BBBBBB;
  border-radius: 10px;
}

/* font size,style */
body {
  font-size: 13px;
  font-family: GoogleRegular;
}

/* page css */

@media only screen and (max-width: 1366) {
  .sidebar {
    width: var(--size-sidebar-collapsed) !important;
  }
}

/* input */
/* search  */
.focus {
  /* border: 1px solid #019160; */
  outline-color: #019160;
}

/* font */
.title {
  font-size: 20px !important;
  font-family: GoogleBold !important;
}

.title2 {
  font-family: GoogleBold !important;
}

/* button */
button.btn {
  outline: none;
  border: none;
  font-family: GoogleRegular;
  color: #ffffff;
  background-color: #019160;
  height: 40px;
  border-radius: 4px;
}

button.btn:hover {
  background-color: #2fbe8e;
}

button.btn:active {
  background-color: #01b075;
}


/* transition */

/* slide */
.slide-leave-active,
.slide-enter-active {
  transition: all 0.3s ease;
}

.slide-enter,
.slide-leave-to {
  transform: translateY(-50%);
  opacity: 0;
}

/* fade */

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* dxdatebox */
.dx-state-focused {
  border:1px solid #019160 !important;
} 
