.rotate {
    background-image: url(../../icon/arrow-up.svg) !important;
}

.style__number {
    text-align: right;
}

.style__date {
    text-align: center;
}
/* main css */
.main {
    flex-direction: column;
    display: flex;
    padding: 10px 16px;
    flex: 1;
    width: 100%;
}

/* table  */
.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}



.selected-row {
    background-color: #e3f3ee !important;
}

